#head{
    justify-content: center;
    display: flex;
    align-items: center;
    color: blue;
}
#first-list{
    list-style: lower-alpha;
    color: brown;
    
}
#third-list{
    list-style: lower-alpha;
    text-decoration: dotted;
}